        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Edit Project</h1>

          </div>

          <!-- Content Row -->
          
          </div>
          
          <div class="container mt-5">
          <div class="row align-items-center justify-content-center">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name of project</span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div>
              <form class="edit-project-form">
                <div class="form-row">
                  <div class="form-group col-12">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-group col-4">
                    <label for="exampleFormControlSelect1">Priority</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>High</option>
                      <option>Normal</option>
                      <option>Low</option>
                    </select>
                </div>
                
                <div class="form-group col-4">
                  <label for="assignee">Assignee</label>
                  <select class ="form-control" id="select-user">
                      {{#each users}}
                      <option>{{User.username}}</option>
                      {{/each}}
                </div>
                <div class="form-group col-4">
                  <label for="inputAddress2">Date</label>
                  <input type="text" class="form-control" id="" placeholder="Due Date">
                </div>

                <button type="button" class="button btn-info">
                Add
            </button>
              </form>
              

            </div>

          </div>
        </div>


          

          <!-- Content Row -->

         
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <script src="/javascript/newproject.js"></script>