 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Projects</h1>

          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col mr-4 align-items-left col-4">
                <div class="text-xl font-weight-bold text-success text-uppercase mb-1">Add a Project</div>
                <a id="" href="/newproject" class="btn btn-success btn-circle btn-lg float-right">
                  <i class="fas fa-check"></i>
                </a>
                <div class="h5 mb-0 font-weight-bold text-gray-800">Click to create a project</div>
              </div>
              <div class="row col-12">
                
                  Current Projects
              </div>
              {{#each projects as |title| }} on {{ format_date createdAt }}
              <div class="container p-3 my-3 bg-dark text-white justify-content-between col-12">
                  Where current projects go
                  <div class="project-list mt-4"><span id="">Example Project</span>   
                  <a class="btn btn-primary mr-2" href="/projectdetails" role="button">Details</a>
                  <a class="btn btn-primary" href="/edit-project" role="button">Manage Users</a>
                   </div>
                </div>
              {{/each}}
          </div>


          

          <!-- Content Row -->

         
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->