 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Projects</h1>

          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col mr-4 align-items-left col-4">
                <div class="text-xl font-weight-bold text-success text-uppercase mb-1">Add a Project</div>
                
                <div class="h5 mb-1 font-weight-bold text-gray-800">Click to create a project</div>
                <a class="btn btn-primary mb-5 ml-2" href="/newproject" role="button">New Project</a>
              </div>
              <div class="row col-12">
                
                  Current Projects
              </div>
              {{#each projects}}
              <div class="container p-3 my-3 bg-dark text-white justify-content-between col-12">
                  
                  
                  <div class="project-list mt-4"><span id="">{{title}}  on {{format_date created_at}}</span>
                  <a class="btn btn-primary mr-2" href="/edit-project/{{id}}" role="button">Details</a>
                  <a class="btn btn-primary" href="" role="button">Manage Users</a>
                   </div>
                </div>
               
              
              {{/each}}
          </div>


          

          <!-- Content Row -->

         
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!--
      <script src="javascript/signup.js"></script>
      -->